:root {
  --primary-dark: #4A3A2A;
  --primary-gold: #C6A75E;
  --light-cream: #F4EBDD;
  --accent-rose: #D7A6A1;
  --soft-white: #FAF8F5;
}

.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hanuman', serif;
}

html {
  scroll-behavior: smooth;
}

/* ===== HOME SECTION ===== */
#home {
  height: 100vh;
  background: url("assets/bg-image.png") no-repeat center center/cover;
  position: relative;
  color: white;
}

/* Dark overlay */
#home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

/* ===== HEADER ===== */
header {
  position: fixed;      /* Make sticky */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(74, 58, 42, 0.9);
  backdrop-filter: blur(5px);
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: center;
;
  padding: 15px 0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: var(--soft-white);
  font-weight: 700;
  transition: 0.3s;
}

nav ul li a:hover {
  color: var(--primary-gold);
}

/* ===== CENTER CONTENT ===== */
.overlay {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.overlay h1 {
  color: var(--soft-white);
  font-size: 42px;
  margin-bottom: 10px;
}

.overlay h2 {
  font-size: 28px;
  margin: 10px 0;
}
.guest_name {
  color: var(--accent-rose);
  font-weight: bold;
  margin-top: 10px;
}

.event_date {
  color: var(--light-cream);
  margin-top: 20px;
  font-size: 18px;
}

.overlay h1,
.overlay h2,
.event_date {
  text-shadow: 2px 3px 15px rgba(0,0,0,0.4);
}

#couple,
#gallery,
#rsvp {
  background: var(--light-cream);
  color: var(--primary-dark);
  padding: 100px 0;
}

#event {
  background: #EFE2D2;
}

#footer {
  background: var(--primary-dark);
  color: var(--soft-white);
  padding: 40px 0;
}

button {
  background: var(--primary-gold);
  color: var(--primary-dark);
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: var(--accent-rose);
  color: white;
}

/* Couple Section */
#couple {
  background: var(--light-cream);
  padding: 120px 20px;
  text-align: center;
}

.section-title {
  font-size: 36px;
  color: var(--primary-dark);
  margin-bottom: 60px;
  position: relative;
}

.section-title::after {
  content: "";
  width: 80px;
  height: 3px;
  background: var(--primary-gold);
  display: block;
  margin: 15px auto 0;
}

.couple-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.person {
  max-width: 320px;
}

.image-box {
  width: 260px;
  height: 260px;
  margin: 0 auto 20px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid var(--primary-gold);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.person h3 {
  color: var(--primary-gold);
  font-size: 24px;
  margin-bottom: 10px;
}

.person p {
  color: var(--primary-dark);
  font-size: 16px;
  line-height: 1.6;
}

.heart {
  font-size: 40px;
  color: var(--accent-rose);
}

.person {
  max-width: 320px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255,255,255,0.35);
  backdrop-filter: blur(12px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.1);
  transition: 0.4s ease;
}

.person:hover {
  transform: translateY(-10px);
}

.image-box {
  width: 260px;
  height: 260px;
  margin: 0 auto 20px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid var(--primary-gold);
  transition: 0.4s ease;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease;
}

.image-box:hover img {
  transform: scale(1.1);
}

.heart {
  font-size: 40px;
  color: var(--accent-rose);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

/* Time line */
.love-story {
  margin-top: 120px;
}

.timeline {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.timeline-item {
  background: var(--primary-gold);
  color: var(--primary-dark);
  padding: 20px 30px;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.timeline-item:hover {
  background: var(--accent-rose);
  color: white;
}

.timeline-item span {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
}

/* Event */
#event {
  background: #EFE2D2;
  padding: 120px 20px;
  text-align: center;
}

/* Event Card */
.event-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 60px;
}

.event-card {
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 20px;
  width: 320px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.1);
  transition: 0.4s;
}

.event-card:hover {
  transform: translateY(-10px);
}

.event-card h3 {
  color: var(--primary-gold);
  margin-bottom: 15px;
}

.event-date {
  font-weight: bold;
  color: var(--primary-dark);
}

/* Map Button */
.map-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 30px;
  background: var(--primary-gold);
  color: var(--primary-dark);
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.map-btn:hover {
  background: var(--accent-rose);
  color: white;
}

/* Countdown Style */
.countdown {
  margin-top: 100px;
}

#timer {
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
  color: var(--primary-dark);
}

.timer-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.time-item {
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(10px);
  padding: 20px 25px;
  border-radius: 15px;
  font-size: 28px;
  font-weight: bold;
  color: var(--primary-dark);
  min-width: 90px;
}

.time-item span {
  display: block;
  font-size: 14px;
  margin-top: 5px;
  color: var(--primary-gold);
}

/* Gallery */
#gallery {
  background: url("assets/bg-image.png") repeat;
  padding: 120px 20px;
  text-align: center;
}

.gallery-grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: 0.4s ease;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

/* Light Box Style */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.lightbox img {
  max-width: 90%;
  max-height: 85%;
  border-radius: 20px;
}

.close-btn {
  position: absolute;
  top: 40px;
  right: 50px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

/*  RSVP */
#rsvp {
  background: #EFE2D2;
  padding: 120px 20px;
  text-align: center;
}

.rsvp-form {
  max-width: 500px;
  margin: 60px auto 0;
  padding: 40px;
  border-radius: 25px;
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(12px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rsvp-form input,
.rsvp-form select,
.rsvp-form textarea {
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;
}

.rsvp-form textarea {
  resize: none;
  height: 100px;
}

.attendance {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.submit-btn {
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: var(--primary-gold);
  color: var(--primary-dark);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: var(--accent-rose);
  color: white;
}

.success-message {
  margin-top: 30px;
  font-size: 20px;
  color: var(--primary-gold);
  display: none;
}

.input-group {
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.input-group label {
  position: absolute;
  left: 15px;
  top: 12px;
  color: #999;
  transition: 0.3s;
  background: white;
  padding: 0 5px;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -8px;
  font-size: 12px;
  color: var(--primary-gold);
}



















